body {
    font-family: Arial;
    margin: 40px;
}

nav a {
    margin-right: 15px;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: white;
}

.success {
    background: #2ecc71;
}

.danger {
    background: #e74c3c;
}