{% extends 'base.html' %}

{% block content %}
<h2>Edit Task</h2>

<form method="POST">
    <input type="text" name="title" value="{{ task[1] }}" required>

    <select name="priority">
        <option value="Low" {% if task[4]=='Low' %}selected{% endif %}>Low</option>
        <option value="Medium" {% if task[4]=='Medium' %}selected{% endif %}>Medium</option>
        <option value="High" {% if task[4]=='High' %}selected{% endif %}>High</option>
    </select>

    <input type="date" name="due_date" value="{{ task[5] }}" required>

    <button type="submit">Update</button>
</form>
{% endblock %}
