/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f9;
}

/* Navbar */
.navbar {
    background: #111827;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    color: #38bdf8;
}

/* Container */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* Card */
.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}

/* Form */
input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: #2563eb;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #1f2937;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Status Badge */
.pending {
    color: #dc2626;
    font-weight: bold;
}

.completed {
    color: #16a34a;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    background: #111827;
    color: white;
}
